@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul class="list-group">
    <li class="list-group-item">
        Name: @User.Identity.Name
    </li>
    <li class="list-group-item">
        IsAuthenticated: @User.Identity.IsAuthenticated
    </li>
    <li class="list-group-item">
        AuthenticationType: @User.Identity.AuthenticationType
    </li>

    @foreach (var item in User.Claims)
    {
        <li class="list-group-item">
            [@item.Type]: @item.Value
        </li>
    }


</ul>

